.navbar {
    background-color: #fff6f6;
}

.luffy{
    background-color: red;
    color: yellow;
}

.zoro{
    background-color: #21b328;
    color: black;
}

.margin {
    padding: 50px;
}

.sanji {
    background-color: #DC6909;
    color: cornflowerblue;
}
.trio{
    background-color: grey;
}